<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ survey.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ survey.title }}</h1>
        <p>{{ survey.description }}</p>

        <form action="" method="POST">
            <label for="answer">Tu Respuesta:</label>
            <input type="text" id="answer" name="answer" required>
            <button type="submit">Enviar Respuesta</button>
        </form>
    </div>
</body>
</html>
